# Git & GitHub Linguist overrides

.vscode/schemas/*                       -diff   linguist-generated
.vscode/schemas/yaml-color-property.*   diff    linguist-generated=false
# previous name
.vscode/schemas/yaml-color-hex.*        diff    linguist-generated=false
